<h3>Consultar Órgão</h3>

<label for="nome">Nome</label><br/>
<input type="text" class="cpForm" name="nome" [(ngModel)]="nome" /><br/>
<button type="button" class="btnForm" (click)="pesquisarOrgao()">Pesquisar</button>
<br>
<br>

<table>
  <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Detalhar</th>
  </tr>
  <tr *ngFor="let orgao of orgaos">
      <td>{{orgao.codigo}}</td>
      <td>{{orgao.nome}}</td>
      <td><a [routerLink]="['/cadastro', orgao.codigo]">[Exibir]</a></td>
  </tr>
  
  <span *ngIf="orgaos.length === 0">Nenhum registro encontrado!</span>
  
</table>