body{
    margin: 0px !important;
}

h1{
    
    color: gray;
    text-align: center;
    
    padding: 30px;
    background-color: #f4f6f9;
   
}

.btnRelatorio{
    background-color: #4CAF50; /* Green */
    border: 1px black;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    float: right;
}




