<title>{{title}}</title>
<h1>POC - MPU</h1>
<div *ngIf="router.url !== '/relatorio'">
    <button class="btnRelatorio" [routerLink]="['/relatorio']">Acessar Relatório</button>
</div>
<div *ngIf="router.url === '/relatorio'">
    <button class="btnRelatorio" [routerLink]="['/']">Voltar</button>
</div>


<br/>
<router-outlet></router-outlet>

