
h2{
    color: gray;
    text-align: center;
}
input[type=text], radio {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.btnFormSalvar{
    background-color: #4CAF50; /* Green */
    border: 1px black;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 5px;
    float: right;
}

.btnFormVoltar{
    background-color: cadetblue; 
    border: 1px black;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 5px;
    float: right;
}

.frm{
    background-color: #f7f8f9;
    padding: 50px;
    margin-top: 30px;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 10px;
}

body{
    background-color: beige !important;
}

.msgSucesso{
    margin-bottom: 20px;
    background-color: #4CAF50;
    padding: 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-style: italic;
}

.msgErro{
    margin-bottom: 20px;
    background-color: crimson;
    padding: 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-style: italic;
}