

<form class="frm" (ngSubmit)="salvarCadastro()">

  <h2>Detalhamento do registo</h2>

  <div [ngClass]="{'msgSucesso': mensagem.sucesso == true , 'msgErro': mensagem.sucesso == false}" *ngIf="mensagem.descricao != ''">
    <span>{{mensagem.descricao}}</span>
  </div>

  <label for="nome">Nome</label><br/>
  <input type="text" class="cpForm" name="nome" [(ngModel)]="orgao.nome" /><br/>

  <label for="sigla">Sigla</label><br/>
  <input type="text" class="cpForm" name="sigla" [(ngModel)]="orgao.sigla" /><br/>
  
  <label for="localidade">Localidade</label><br/>
  <input type="text" class="cpForm" name="localidade" [(ngModel)]="orgao.localidade" /><br/>

  <label for="coordenador">Coordenador</label><br/>
  <input type="text" class="cpForm" name="coordenador" [(ngModel)]="orgao.coordenador" /><br/>
  
  <label for="sala">Sala</label><br/>
  <input type="text" class="cpForm" name="sala" [(ngModel)]="orgao.sala" /><br/>
  
  <label for="telefone">Telefone</label><br/>
  <input type="text" class="cpForm" name="telefone" [(ngModel)]="orgao.telefone" /><br/>

  <label for="status">Status</label><br/>
  <input type="radio" value="S" name="status" [(ngModel)]="orgao.status" > Ativo
  <input type="radio" value="N" name="status" [(ngModel)]="orgao.status" > Inativo

  <br/><br/>  

  <button class="btnFormSalvar" type="submit">Salvar</button>
  <button class="btnFormVoltar" type="button" [routerLink]="['/']" >Voltar</button>

  <br/><br/> 
</form>