<h3>Relatório</h3>

<h4>Quantitativo por status</h4>
<span class="quantitativo ativo"><b>Ativo: </b> {{quantidadeAtivos}}</span> <br>
<span class="quantitativo inativo"><b>Inativo: </b> {{quantidadeInativos}}</span> <br>

<br>



<table>
  <tr>
      <th class="center" >Código</th>
      <th>Nome</th>
      <th>Sigla</th>
      <th>Localidade</th>
      <th>Coordenador</th>
      <th class="center" >Sala</th>
      <th class="center" >Telefone</th>
      <th class="center" >Status</th>
  </tr>
  <tr *ngFor="let orgao of orgaos">
      <td class="center" >{{orgao.codigo}}</td>
      <td>{{orgao.nome}}</td>
      <td>{{orgao.sigla}}</td>
      <td>{{orgao.localidade}}</td>
      <td>{{orgao.coordenador != null ? orgao.coordenador : ''}}</td>
      <td class="center" >{{orgao.sala !== null ? orgao.sala : ''}}</td>
      <td class="center" >{{orgao.telefone !== null ? orgao.telefone : ''}}</td>
      <td class="center" [ngClass]="{'ativo': orgao.status == 'S' , 'inativo': orgao.status == 'N'}">{{orgao.status === 'S' ? 'Ativo' : 'Inativo'}}</td>
  </tr>
  
  <span *ngIf="orgaos.length === 0">Nenhum registro encontrado!</span>
  
</table>