table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
  }


  input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.center{
    text-align: center;
}


.quantitativo{
    font-size: 18px;
}

.ativo{
    background-color: lightblue;
    font-weight: 400;
}

.inativo{
    background-color: crimson;
    color: white;
    font-weight: 400;
}